{% extends 'base.html.twig' %}

{% block body %}
    <h1>ingredient</h1>

    <ul>
        <li>
            <a href="{{ path('ingredient_index') }}">Retour</a>
        </li>
    </ul>
    <table>
        <tbody>
            <tr>
                <th>Libellé&#8239;: </th>
                <td>{{ ingredient.libelle }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
