.navbar-inverse {
    background-image: linear-gradient(to bottom,#e6c618 0,#E7EC1A 100%);
    color: #222222;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-brand {
    font-size: 26px;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar {
    border-radius: 0px;
    /* margin: 0 -35px; */
    width: 105%;
    margin-left: -2.5%;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color:#72b00b;
}

.bandeau {
    vertical-align: initial;
    position: relative;
    margin-left: 20%;
}

#index {
    background-image: url("/images/carocuisine.jpg");/**/
    background-size: cover;
    height: 70vh;
    width: 55%;
    margin: 3% auto;
}

.proch-din {
    position: relative;
    top: 42vh;
    margin: 0 3%;
    padding: 1%;
    height: 25vh;
    background-color: rgba(255,255,255,0.65);
}

button.marg {
    margin: 0;
    margin-bottom: 1em;
}