.navbar-inverse
{
    background-image: linear-gradient(to bottom,#e6c618 0,#E7EC1A 100%);
    color: #222222;
}

.navbar-inverse .navbar-nav > li > a
{
    color: black;
}

.navbar-brand
{
    font-size: 26px;
}

.navbar-inverse .navbar-brand
{
    color: black;
}

.navbar
{
    border-radius: 0px;
}

.bandeau
{   vertical-align: none;
    position: relative;
    margin-left: 20%;
}

#index
{
    background-image: url("/images/carocuisine.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: -21px;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover
{
    color:#72b00b;
}