.navbar-inverse {
    background-image: linear-gradient(to bottom,#e6c618 0,#E7EC1A 100%);
    color: #222222;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-brand {
    font-size: 26px;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar {
    border-radius: 0px;
    margin: 0 -35px;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color:#72b00b;
}

.bandeau {
    vertical-align: none;
    position: relative;
    margin-left: 20%;
}

#index {
    background-image: url("/images/carocuisine.jpg");
    background-size: cover;
    height: 80vh;
    width: 55%;
    /* margin-top: -21px; */
    margin: auto;
}

.table-inverse
{
    background-color:
}

body
{
    /*width:95%;
    margin: auto;*/
    margin: 0 2.5%;
}

.table
{
    background-color: #B5DDFF;
    margin-top: 20px;
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th
{
   background-color: #0089FF;
}

.proch-din {
    position: relative;
    top: 65%;
    margin: 0 3%;
    padding: 1%;
    height: 25vh;
    background-color: white;
    opacity: 0.65;
}