{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catégorie d'ingrédient</h1>

    <ul>
        <li>
            <a href="{{ path('categorie_index') }}">Retour</a>
        </li>
    </ul>

    <table>
        <tbody>
            <tr>
                <th>Libelle&#8239;: </th>
                <td>{{ categorie.libelle }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
