{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un ingrédient</h1>

    <ul>
        <li>
            <a href="{{ path('ingredient_index') }}">Retour</a>
        </li>
    </ul>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

{% endblock %}
